<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>

<!-- <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet"> -->

<style>
    body {
        margin: 0px;
        padding: 0px;
        /* background-color: rgb(156, 156, 138); */
        background-color: rgb(228, 223, 228);


        font-size: 20px;
        font-family: 'Roboto', sans-serif;
        background-color: white;
        background-color: #4158D0;
        background-color: #8EC5FC;
        background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
        background-color: #4f7e8e;
        background-image: linear-gradient(0deg, #8EC5FC 40%, #c3ebfc 70%);
        /* background-color: #FF9A8B;
background-image: linear-gradient(90deg, #FF9A8B 0%, #FF6A88 55%, #FF99AC 100%);
 */
        background-color: #FF3CAC;
        background-image: linear-gradient(225deg, #FF3CAC 10%, #784BA0 50%, #b6360e 10%);

        /* overflow: hidden; */

    }


    * {
        scrollbar-width: thin;
        scrollbar-color: blue rgb(255, 255, 255);
    }

    *::-webkit-scrollbar {
        width: 12px;
    }

    *::-webkit-scrollbar-track {
        background: rgb(255, 255, 255);
    }

    *::-webkit-scrollbar-thumb {
        background-color: rgb(207, 207, 211);


    }


    #message-body {
        height: 77vh;
        overflow: scroll;
        position: relative;
    }


    img {
        width: 40px;
        border-radius: 50%;

    }

    #box {
        position: relative;
    }

    #col-2 {

        display: inline-block;
        height: 100vh;
    }

    #col-1 {
        /* background-color: rgb(149, 30, 30); */
        /* background-color: rgb(240, 29, 241); */

        /* background-color: #FF3CAC; */

        background-image: linear-gradient(225deg, #FF3CAC 10%, #784BA0 50%);




        width: 25%;
        display: inline-block;
        height: 100vh;
        position: absolute;
        top: 0px;
        left: 0px;
        z-index: 1;

    }

    #col-2 {
        /* background-color: rgb(70, 99, 103); */

        /* #29323c → #485563; */
        /* background: rgb(63,94,251); */
        background: radial-gradient(circle, rgb(213, 216, 228) 10%, rgb(240, 231, 233) 100%);





        width: 75%;
        display: inline-block;
        height: 100vh;
        position: absolute;
        top: 0px;
        right: 0px;

        /* background-image: linear-gradient(225deg, #FF3CAC 10%, #1b1223 50%); */


    }


    .left {


        /* display:block;  */
        /* background-color: blue; */
        padding: 20px;
        width: 100%;


    }

    .right {

        width: 100%;
        /* background-color: green; */
        padding: 20px;

        text-align: right;




    }


    .middle {
        display: inline-block;
        width: 100%;
        /* background-color: green; */
        padding: 20px;
        text-align: center;

    }

    .message {

        display: inline-block;
        /* position: relative; */
    }

    .message-left {

        border-radius: 20px;
        border-bottom-left-radius: 0px;
        background-color: rgb(246, 246, 246);
        background-color: hsl(160, 0, 232);


        /* background-color: rgb(162, 43, 43); */
        /* background-color: white; */
        margin-left: 20px;
        padding: 10px;
        padding-bottom: 20px;
        display: inline-block;
        max-width: 50%;
        font-size: 15px;
        min-width: 100px;
        /* color:hsl(160, 0, 185);   */
        /* color:rgb(197,197,197); */
        /* box-shadow: 1px 1px 5px 0.1px black; */
        border: 1px solid rgb(193, 205, 223);




    }

    .message-right {

        border-radius: 20px;
        border-bottom-right-radius: 0px;
        /* background-color:rgb(34, 34, 34);  */
        /* background-color:rgb(51,51,51); */
        background-color: rgb(44, 43, 43);
        background-color: hsa(160, 0, 48);
        color: rgb(240, 236, 236);
        margin-right: 0px;
        padding: 10px;
        padding-bottom: 25px;
        display: inline-block;
        max-width: 50%;
        font-size: 15px;
        text-align: left;
        min-width: 100px;
        min-height: 2px;




    }

    .message-middle {

        border-radius: 20px;
        margin: auto;
        padding: 15px;

    }

    .profile {
        display: inline-block;
        font-weight: 550;
        /* background-color: rgb(101, 75, 75); */
    }

    .profile p {

        margin: 0px;
        padding-left: 5px;
    }

    header img {
        width: 45px;
        position: relative;
        top: 5px;
        margin-left: 20px
            /* margin-top:40px ; */
    }

    .user-name {
        font-size: 15px;
    }

    .user-time {
        font-size: 10px;
        /* font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */
        color: rgb(100, 110, 113);
        padding-bottom: 5px;

    }

    .user-seen {
        font-size: 10px;
        /* font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */
        color: rgba(255, 255, 255, 0.8);
        padding-bottom: 3px;
    }

    .message-time-left {
        position: relative;
        bottom: -15px;
        right: 80px;
        font-size: 10px;
        color: rgb(148, 143, 188)
    }

    .message-time-right {
        position: relative;
        bottom: -20px;
        right: 80px;
        font-size: 10px;

        color: rgb(143, 162, 188)
    }

    .friend-profile {
        display: inline-block;
        width: 100%;

        margin: 0px;
        /* margin-left:4px;  */
        /* padding-left:8px;  */
        padding: 5px 0px;
        /* padding-left:5px; */
        /* background-color: rgb(81, 43, 43); */
        /* margin-left:5px;  */
        /* background-color: rgb(255, 254, 253); */
        background-color: rgb(255, 255, 255);
        /* background-color: rgb(44, 38, 38); */


    }

    .friend-profile:hover {
        background-color: #FF3CAC;
        background-image: linear-gradient(225deg, #f89acf 10%, #784BA0 50%);

        cursor: pointer;
    }

    .friend-profile:hover * {
        color: white;
    }

    .profile {
        width: 70%;
        display: inline-block;
        border-bottom: 0.1px solid rgba(32, 1, 1, 0.4);

        /* border-bottom:  0.1px solid rgb(130, 122, 122) ; */


    }


    .friend-image {
        display: inline-block;
        position: relative;
        left: 17px;
        top: 6px;


    }

    .message-count {
        background-color: rgb(44, 43, 43);
        background-color: hsa(160, 0, 48);
        color: rgb(255, 255, 255);
        font-size: 10px;

        border-radius: 50%;
        display: inline-block;
        width: 10px;
        height: 10px;
        ;
        position: relative;
        left: -17px;
        bottom: 27px;
        padding: 2px;

    }

    .count-num {
        position: relative;
        left: 3px;

    }

    .search-friend {

        /* background-color: rgb(255, 255, 255); */
        border: 1px solid black;
        border-radius: 50px;
        ;
        position: relative;
        margin: 3px;
        background-color: rgb(253, 253, 253);
    }

    .input_box {
        text-align: center;
        /* width: 85%; */
        padding: 5px;

        background-color: transparent;
        border: none;
        ;


    }
    #first-col-input-box  {
        text-align: center;
        /* width: 85%; */
        padding: 5px;

        background-color: transparent;
        border: none;
        ;


    }

    .input_box::placeholder {
        color: #fff;
    }

    .input_box:focus {
        outline: none;
        border-bottom: violet;

    }

    #first-col-search-icon{
      position:absolute;
      right:10px; 
      top:10%; 
      cursor:pointer;
      color: rgb(147, 136, 186);
    
    }
    #first-col-close-icon{
      position:absolute;
      right:10px; 
      top:8%;
cursor:pointer;
      color: rgb(147, 136, 186);
      display:none;
    }


    #first-col-search-icon:hover,#first-col-close-icon:hover {

        color: rgb(103, 100, 138);


    }

    .side-list {
        overflow: auto;
        height: 77vh;

    }

    .header {
        background: radial-gradient(circle, rgba(63, 94, 251, 1) 0%, rgba(233, 49, 86, 0.705) 100%);



    }

    .header .profile {
        width: 35%;
    }

    .side-list-search-icon:hover {
        color: rgb(230, 211, 211);
        cursor: pointer;

    }

    .search-keyword {
        display: inline-block;
        width: 50%;


        border: 1px solid rgb(255, 255, 255);
        border-radius: 50px;

        background-color: transparent;
        position: relative;
        bottom: 11px;
        /* right: -70px; */


    }
      
      *
      
     #side-list-search-count, 
    #side-list-search-icon,
    #side-list-close-icon,
    #side-list-up-icon,
    #side-list-down-icon {
        position: absolute;
        color: rgb(214, 204, 250);
    
       
    }
    #side-list-search-icon{
        right:15px;
        top:13%;
             }
    #side-list-close-icon{
        right:15px;
        top:6%;
        display:none; 
    }
    #side-list-down-icon{
        right: 44px;
    top: 20%;
        display:none; 
    }
    #side-list-up-icon{
        right: 70px;
    top: 17%;
        display:none; 
    }
    #side-list-search-count{
       
    right: 94px;
    top: 20%;
    font-size:15px;
    display:none; 
        /* display:none;  */
    }

    #side-list-search-icon:hover,
    #side-list-close-icon:hover,
    #side-list-up-icon:hover,
    #side-list-down-icon:hover {
        
        color: rgb(208, 177, 177);
        cursor: pointer;


    }

    #side-list-search-count {
        color: rgb(214, 204, 250);
    }




    .search-keyword input {
        color: rgba(255, 255, 255, 0.837);
    }

    .col-3 {
        z-index: 2;
        height: 50px;
        background: radial-gradient(circle, rgba(63, 94, 251, 1) 0%, rgba(227, 47, 84, 0.7049194677871149) 100%);

    }

    form {
        background-color: #fff;
        text-align: center;
        padding: 5px 2px;
    }

    form input {
        display: inline-block;
        width: 90%;

        /* background-color: blue; */
        padding: 5px;
        /* margin:5px; */

    }

    form button {
        padding: 5px;
    }

    .search-item-bg {
        background-color: yellowgreen;
        color: black;
    }
    .not-visible{
        visibility: hidden;
    }
</style>

<body>

    <!-- <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-search" fill="currentColor"
        xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd"
            d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z" />
        <path fill-rule="evenodd"
            d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z" />
    </svg> -->



<h1 style="color: white;">
   data is: ''
{{data}} 

    <div id="box">



</h1>

        <div id="col-1">

            <div class="friend-profile">
                <div class="friend-image">
                    <img src="tony.jpg" alt="profile-image">
                    <div class="message-count"> <span class="count-num">3</span></div>
                </div>


                <span class="profile">
                    <p class="user-name">Tony Stark </p>
                    <p class="user-time">Last seen today at 8:30 pm </p>

                </span>
            </div>

            <hr>
            <div  class="search-friend" id="first-col-search-friend-box">


                <svg  id="first-col-close-icon" width="25px" height="25px" viewBox="0 0 16 16" class="bi bi-x"
                fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                    d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
            </svg>
                <svg class="side-list-search-icon"  id="first-col-search-icon" width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-search"
                    fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                        d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z" />
                    <path fill-rule="evenodd"
                        d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z" />
                </svg>
               

 <input id="first-col-input-box" class="input_box"  type="text" placeholder="search friends list">
               
            </div>
            <hr>

            <div class="side-list" id="first-col-friend-list">



                <div class="friend-profile" style="display:none;" >
                 
                   <span class="profile"  style="padding-left:80px;" >
                        <p class="user-name"  > "No Match" </p>
                

                    </span>

                </div>




     
    
                

  {{#each data}}
                <div class="friend-profile">
                    <div class="friend-image">
                        <img src=" {{ img }}" alt="profile-image">

                        {{#if count }}
                        <div class="message-count"> <span class="count-num">{{ count }} </span></div>
                        {{else}}
                         <div class="message-count not-visible"> <span class="count-num">{{ count }} </span></div>
                         {{/if}}
                         
                    </div>


                    <span class="profile">
                        <p class="user-name"> {{ name}}  </p>
                        <p class="user-time">Last seen 8:30 pm </p>

                    </span>

                </div>
 {{/each}}


            </div>



        </div>

        <div id="col-2">
            <header class="header">
                <img src="phone_img.jpg" alt="profile-image">
                <span class="profile">
                    <p class="user-name"> Manpreeet saluja </p>
                    <p class="user-seen">Last seen today at 8:30 pm </p>

                </span>


                <div class="search-keyword">

                    <input class="input_box" id="input-search-keyword" type="text" placeholder="search friends list">
                    <span id="side-list-search-count"> 0/10</span>

                    <svg id="side-list-up-icon" width="18px" height="18px" viewBox="0 0 16 16"
                        class="bi bi-chevron-double-up" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                            d="M7.646 2.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 3.707 2.354 9.354a.5.5 0 1 1-.708-.708l6-6z" />
                        <path fill-rule="evenodd"
                            d="M7.646 6.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 7.707l-5.646 5.647a.5.5 0 0 1-.708-.708l6-6z" />
                    </svg>

                    <svg id="side-list-down-icon" width="18px" height="18px" viewBox="0 0 16 16"
                        class="bi bi-chevron-double-down" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                            d="M1.646 6.646a.5.5 0 0 1 .708 0L8 12.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z" />
                        <path fill-rule="evenodd"
                            d="M1.646 2.646a.5.5 0 0 1 .708 0L8 8.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z" />
                    </svg>


                    <svg id="side-list-close-icon" width="25px" height="25px" viewBox="0 0 16 16" class="bi bi-x"
                        fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                            d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
                    </svg>




                    <svg id="side-list-search-icon" class="side-list-search-icon" width="1em" height="1em"
                        viewBox="0 0 16 16" class="bi bi-search" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                            d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z" />
                        <path fill-rule="evenodd"
                            d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z" />
                    </svg>


                </div>
            </header>
            <hr>
            <div id="message-body">



                <div class="message left">
                    <span class="message-left">
                        Lorem ipsum dolor, sit amet consectetur adipisicing . Ipsa, quibusdam.
                    </span>
                    <span class="message-time-left">10:34 PM AA</span>
                </div>




                <div class="message right">
                    <span class="message-right">
                        hello i right
                        glroemdfgfg fg d
                        Lorem ipsum dolor si adipisicing elit.
                        Cupiditate, iusto?
                        gjfl jgfl jg dfk
                        gf
                    </span>
                    <span class="message-time-right">10:34 PM </span>
                </div>


            












                <div class="message right">
                    <span class="message-right">
                        hello i right
                        glroemdfgfg fg d
                        Lorem ipsum dolor si adipisicing elit.
                        Cupiditate, iusto?
                        gjfl jgfl jg dfk
                        gf
                        Lorem ipsum <span class="search-item-bg">hello1234 </span> sit amet consectetur adipisicing
                        elit. Commodi eveniet debitis porro dicta nesciunt consectetur molestiae eaque pariatur quod
                        vel?
                    </span>
                    <span class="message-time-right">10:34 PM </span>
                </div>

                <button id="sub_button" type="submit"> click me </button>

            </div>
            <form action="" method="POST" id="myform">
                <input type="text" name="message" id="message_input" autocomplete="off"
                    placeholder="Write message here...">
                <button id="sub_but" type="button"> Send</button>

            </form>

        </div>





    </div>


    <!-- <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script> -->
    <script src="http://localhost:8000/socket.io/socket.io.js"></script>
    <script src="first-col.js"></script>


    <script>

            const socket = io('http://localhost:8000');
            
        // const socket = io('https://socket-event-hadler.herokuapp.com/');

        // let name = prompt("enter your name");
        let name = ['maggi', 'mohan', 'manp', 'mango', 'splic', 'taste', 'bhatman'];
        name = name[(Date.now()) % name.length];


        let mess_bd = document.getElementById("message-body");
        let side_list_search_icon = document.getElementById("side-list-search-icon");
        let side_list_up_icon = document.getElementById("side-list-up-icon");
        let side_list_down_icon = document.getElementById("side-list-down-icon");
        let side_list_close_icon = document.getElementById("side-list-close-icon");

        let side_list_search_count = document.getElementById("side-list-search-count");
        //  let name = prompt("enter your name ");
        let myform = document.getElementById("myform");
        // let sub_button" = document.getElementById("sub_button");
        let message_input = document.getElementById("message_input");
        let input_search_keyword = document.getElementById("input-search-keyword");
        let side_list_curr_pos = 0;
        let child_arr_pos = [];



        let ping_audio = new Audio("ping.mp3")

//stackoverflow function 
        function selectElementText(el, win) {
        win = win || window;
        var doc = win.document, sel, range;
        if (win.getSelection && doc.createRange) {
            sel = win.getSelection();
            range = doc.createRange();
            range.selectNodeContents(el);
            sel.removeAllRanges();
            sel.addRange(range);
        } else if (doc.body.createTextRange) {
            range = doc.body.createTextRange();
            range.moveToElementText(el);
            range.select();
        }
    }




        side_list_down_icon.addEventListener("click", () => {
            if (child_arr_pos.length > 0) {
                side_list_curr_pos = (side_list_curr_pos + 1) % child_arr_pos.length;
                let src_id = document.getElementById(child_arr_pos[side_list_curr_pos]);
                side_list_search_count.textContent = (side_list_curr_pos + 1) + "/" + child_arr_pos.length;
                // src_id.focus();
         
                src_id.style.color = "red";
               
                mess_bd.scrollTop = src_id.offsetTop - 20;
                selectElementText(src_id);
                // src_id.scrollIntoView();

            }
            console.log("clickde");

        });
      

        side_list_up_icon.addEventListener("click", () => {
            if (child_arr_pos.length > 0) {


                // console.log(src_id.style.color=="");
                // if(side_list_curr_pos ==0 && )
                side_list_curr_pos = (side_list_curr_pos + child_arr_pos.length - 1) % child_arr_pos.length;
                let src_id = document.getElementById(child_arr_pos[side_list_curr_pos]);
                side_list_search_count.textContent = (side_list_curr_pos + 1) + "/" + child_arr_pos.length;
                src_id.style.color = "red";
                // src_id.setPointerCapture();
                // src_id.selectionStart =5;
                // src_id.focus(); 
                mess_bd.scrollTop = src_id.offsetTop - 20;
                selectElementText(src_id);
    // selectElementText(elementInIframe, iframe.contentWindow);


                // src_id.style.scrol
                //  src_id.scrollIntoView();
                // mess_bd.scrollTop =  src_id.scrollTo(10)
                // mess_bd.children[1].clientHeight;
                //  ;
                // src_id.offsetTop
                // console.log(src_id.parentElement.parentElement.offsetTop); 
                // console.log( src_id.parentElement.parentElement.scrollHeight);
                // console.log(mess_bd.scrollTop = src_id.offsetTop); 

            }
            console.log("clickde");

        });
        side_list_search_icon.addEventListener("click", () => {
            side_list_search_icon.style.display = "none";
            side_list_down_icon.style.display = "inline-block";
            side_list_up_icon.style.display = "inline-block";
            side_list_close_icon.style.display = "inline-block";
            input_search_keyword.value = "";

        });
        side_list_close_icon.addEventListener("click", () => {
            side_list_search_icon.style.display = "inline-block";
            side_list_down_icon.style.display = "none";
            side_list_up_icon.style.display = "none";
            side_list_close_icon.style.display = "none";
            side_list_search_count.style.display = "none";

            let src_id;
            for (let i = 0; i < child_arr_pos.length; i++) {
                src_id = document.getElementById(child_arr_pos[i]);
                if (src_id != null) {

                    console.log(src_id);
                    // if(src_id != ) 
                    src_id.parentNode.innerHTML = src_id.parentNode.textContent;
                }


            }
            // console.log(document.getElementById(child_arr_pos[i]).parentNode.textContent);
            // src_elem.parentNode.textContent = ;
            //    mess_bd.children[i].firstElementChild.innerHTML = set_color_to_text(mess_bd.children[i].firstElementChild.textContent, search_value, mess_bd.children[i]);


            child_arr_pos = [];
            side_list_curr_pos = 0;
            input_search_keyword.textContent = "";
            input_search_keyword.value = "";
            

        });


        socket.emit("new-user-connected", { "name": name });


        document.getElementById("sub_button").addEventListener("click", () => {
            socket.emit('send-specific-client');
        })










        function set_color_to_text(text, patt_str = "", element_id) {





            let last, result;
            let len1, len2;
            let index;
            let count = 0;
            len2 = patt_str.length;


            len1 = text.length;
            if (patt_str == "" || text == "" || len2 > len1) {
                return text;
            }
            let text_str = text.toLowerCase();

            patt_str = patt_str.toLowerCase();
            result = "";
            last = index = 0;

            while (true) {
                index = text_str.indexOf(patt_str, last);

                if (index != -1) {
                    result += text.slice(last, index) + '<span class="search-item-bg" id=search-item-bg-' + child_arr_pos.length + '>' + text.slice(index, index + len2) + '</span>';
                    last = index + len2;


                    child_arr_pos.push('search-item-bg-' + child_arr_pos.length);
                }
                else {
                    break;
                }

            }

            result += text.slice(last, len1);
            return result


            //         str1 = str1.replace(/[-\/\\^$*+?.()|[\]{}]/g, '\\$&');
            //         search_value = search_value.replace(/[-\/\\^$*+?.()|[\]{}]/g, '\\$&');
            //         console.log("initia string filter "); 
            //         console.log(search_value); 
            //         let  reg_ex = new RegExp(search_value, "ig");

            //         console.log("reg x is: "); 
            //         console.log(reg_ex); 
            //         str1 = str1.replace(reg_ex, '<span class="search-item-bg">' + search_value + '</span>');
            //         console.log("strng 1 is: "); 
            //         console.log(str1); 



            //        let  len = str1.length;
            //        let  str2 = "";
            //        let  count = 0;
            //        let j =0; 
            //         for ( j = 0; j < len; j++) {
            //             if (str1[j] == "\\") {
            //                 j++;

            //             }
            //             str2+= str1[j];
            //         }


            //         console.log("ans  2 is: "); 
            //         console.log(str2); 
            //         console.log("-----------------"); 
            //    return str2; 
        }

        input_search_keyword.addEventListener("keyup", (e) => {

            side_list_search_icon.style.display = "none";
            side_list_down_icon.style.display = "inline-block";
            side_list_up_icon.style.display = "inline-block";
            side_list_close_icon.style.display = "inline-block";
            side_list_search_count.style.display = "inline-block";
            child_arr_pos = [];


            side_list_curr_pos = 0;
            let search_value = input_search_keyword.value;
            // string.charCodeAt(0);
            let no_of_child = mess_bd.children.length;
            let str1 = "";
            let str2 = "";
            let len = 0;
            let i = 0;
            let count = 0;

            for (let i = 0; i < no_of_child; i++) {
                if (mess_bd.children[i].firstElementChild != null) {


                    mess_bd.children[i].firstElementChild.innerHTML = set_color_to_text(mess_bd.children[i].firstElementChild.textContent, search_value, mess_bd.children[i]);


                    mess_bd.children[i].lastElementChild.innerHTML = set_color_to_text(mess_bd.children[i].lastElementChild.textContent, search_value, mess_bd.children[i]);

                }

            }
            console.log(child_arr_pos.length);
            if (child_arr_pos.length > 0) {
                side_list_search_count.textContent = (side_list_curr_pos + 1) + "/" + child_arr_pos.length;
                //  child_arr_pos[0].scrollIntoView();
                //mess_bd.children[0].scrollIntoView();

                // document.getElementById(child_arr_pos[0]).scrollIntoView();rgb(208, 177, 177)
                side_list_down_icon.style.color = "rgb(255,255,255)";
                side_list_close_icon.style.color = "rgb(255,255,255)";
                side_list_up_icon.style.color = "rgb(255,255,255)";
                side_list_search_count.style.color = "rgb(255,255,255)";
                mess_bd.scrollTop = document.getElementById(child_arr_pos[0]).offsetTop - 20;

            }
            else {
                side_list_search_count.textContent = "0/0";
                side_list_down_icon.style.color = "rgb(214, 204, 250)";
                side_list_close_icon.style.color = "rgb(214, 204, 250)";
                side_list_up_icon.style.color = "rgb(214, 204, 250)";
                side_list_search_count.style.color = "rgb(214, 204, 250)";

            }


        });



        function set_scroll_to_bottom(id) {
            if (id) {
                id.scrollTop = id.scrollHeight;
            }
        }



        myform.addEventListener("submit", (e) => {
            e.preventDefault();
            let curr_time = (new Date()).toLocaleTimeString([], { hour: '2-digit', minute: '2-digit' });
            socket.emit('message-sent', { "message": message_input.value, "time": curr_time });

            let temp1 = document.createElement("div");
            temp1.classList = "message left";
            let temp2 = document.createElement("span");


            if (message_input.value.trim() == "") {
                temp2.innerHTML = "&nbsp;";
            } else {
                temp2.textContent = message_input.value;
            }

            temp2.classList = "message-left";
            temp1.appendChild(temp2);
            temp2 = document.createElement("span");
            temp2.textContent = curr_time;
            temp2.classList = "message-time-left";
            temp1.appendChild(temp2);
            mess_bd.appendChild(temp1);



            message_input.value = "";
            console.log(message_input.value);
            set_scroll_to_bottom(mess_bd);
        });


        socket.on("new-user-connected", (data) => {
            console.log("new user in client ");

            // <div class="message middle">
            //                 <span class="message-middle">
            //                     This is middle line

            //                 </span>
            //             </div>
            let temp1 = document.createElement("div");
            temp1.classList = "message middle";
            let temp2 = document.createElement("span");
            temp2.textContent = data + " Joined the Chat ";
            temp2.classList = "message-middle";
            temp1.appendChild(temp2);
            mess_bd.appendChild(temp1);

            set_scroll_to_bottom(mess_bd);
        });


        socket.on("user-disconnected", (data) => {
            console.log("new user in client ");


            let temp1 = document.createElement("div");
            temp1.classList = "message middle";
            let temp2 = document.createElement("span");
            temp2.textContent = data + " leave the Chat ";
            temp2.classList = "message-middle";
            temp1.appendChild(temp2);
            mess_bd.appendChild(temp1);

            set_scroll_to_bottom(mess_bd);
        });

        socket.on("message-recived", (data) => {
            console.log("data recied  ");
            console.log(data);

            let temp1 = document.createElement("div");
            temp1.classList = "message right";
            let temp2 = document.createElement("span");

            if (data.message.trim() == "") {
                temp2.innerHTML = "&nbsp;";
            } else {
                temp2.textContent = data.message;
            }


            temp2.classList = "message-right";
            temp1.appendChild(temp2);
            temp2 = document.createElement("span");
            temp2.textContent = data.time;
            temp2.classList = "message-time-right";
            temp1.appendChild(temp2);
            mess_bd.appendChild(temp1);
            ping_audio.currentTime = 0;
            ping_audio.play();

            set_scroll_to_bottom(mess_bd);



        });

        socket.on("user-disconnected", (data) => {
            console.log("new user in client ");


            let temp1 = document.createElement("div");
            temp1.classList = "message middle";
            let temp2 = document.createElement("span");
            temp2.textContent = data + " leave the Chat ";
            temp2.classList = "message-middle";
            temp1.appendChild(temp2);
            mess_bd.appendChild(temp1);

            set_scroll_to_bottom(mess_bd);
        });

        socket.on("recieved-pecific-client", (data) => {

            console.log(data);
            set_scroll_to_bottom(mess_bd);



        });











console.log("data is: ); "); 
console.log({{status}}); 

    </script>
</body>

</html>