<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
        <link rel="icon" href="favicon.png">
</head>

<!-- <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet"> -->

<link rel="stylesheet" href="css/home.css">

<body>






    <div id="col-1">

        <div class="friend-profile not-hover" id="self_prof">
            <div class="friend-image">
  

                {{#if img }}
                <span class="all_img" style="background-image: url('/img/profile/{{img}}');"> </span>

                {{else}}
                <span class="all_img" style="background-image: url('/img/profile/../default_img.png');"
                    class="selectDisable"> </span>

                {{/if}}


                <div class="message-count  not-visible"> 10<span class="count-num"></span></div>
            </div>


            <span class="profile">
                <p class="user-name">{{name}}</p>

                
                {{#if img }}
             <p class="user-time">{{pro_mess}}&nbsp; </p>
                {{else}}
             <p class="user-time">Hello, I am using chat app&nbsp; </p>

                {{/if}}
               

            </span>
            <a id="forward">
                <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" fill="currentColor"
                    class="bi bi-arrow-right" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                        d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z" />
                </svg></a>
        </div>

        <hr>
        <div class="search-friend" id="first-col-search-friend-box">


            <svg id="first-col-close-icon" width="25px" height="25px" viewBox="0 0 16 16" class="bi bi-x"
                fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                    d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
            </svg>
            <svg class="side-list-search-icon" id="first-col-search-icon" width="1em" height="1em" viewBox="0 0 16 16"
                class="bi bi-search" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                    d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z" />
                <path fill-rule="evenodd"
                    d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z" />
            </svg>


            <input id="first-col-input-box" class="input_box" type="text" placeholder="search friend list"
                autocomplete="off">

        </div>
        <hr>

        <div class="side-list" id="first-col-friend-list">



            <div class="friend-profile not-hover" style="display:none;">

                <span class="profile" style="padding-left:80px;">
                    <p class="user-name"> "No Match" </p>


                </span>

            </div>







            {{#each data}}




            <div class="friend-profile" id="{{u_id}}">
                <div class="friend-image">


                    {{#if img }}
                    <span class="all_img" style="background-image: url('/img/profile/{{img}}');"> </span>
                    {{else}}
                    <span class="all_img" style="background-image: url('/img/profile/../default_img.png');"> </span>
                    {{/if}}
                    </span>
                    {{#if count }}
                    <div class="message-count"> <span class="count-num">{{ count }} </span></div>
                    {{else}}
                    <div class="message-count not-visible"> <span class="count-num">{{ count }} </span></div>
                    {{/if}}

                </div>



                <span class="profile">
                    <p class="user-name"> {{ name}} </p>
                    {{#if pro_mess }}
                    <p class="user-time">{{pro_mess}} </p>
                    {{else}}
                    <p class="user-time ">Hello, I am using chat app&nbsp; </p>
                    {{/if}}


                </span>

            </div>


            {{/each}}


        </div>



    </div>

    <div id="col-2" >








        <header class="header" id="header_name">


            <div class="friend-image">
                <span class="all_img" style="background-image: url('img/../chat_img.png');"> </span>
            </div>

            {{!-- <img class="border_radius" src="tony.jpg" alt="profile-image"> --}}
            <span class="profile">
                <p class="user-name" style="color:whitesmoke"> Chat Box</p>
                <p class="user-seen" style="border-bottom:1px solid rgb(255, 255, 255)">{{current_status}}&nbsp; </p>

            </span>
            <a id="back"><svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" fill="currentColor"
                    class="bi bi-arrow-left" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                        d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z" />
                </svg>
            </a>

            <div class="search-keyword">

                <input class="input_box" id="input-search-keyword" type="text" placeholder="search keyword"
                    autocomplete="off">
                <span id="side-list-search-count"> 0/10</span>

                <svg id="side-list-up-icon" width="18px" height="18px" viewBox="0 0 16 16"
                    class="bi bi-chevron-double-up" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                        d="M7.646 2.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 3.707 2.354 9.354a.5.5 0 1 1-.708-.708l6-6z" />
                    <path fill-rule="evenodd"
                        d="M7.646 6.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 7.707l-5.646 5.647a.5.5 0 0 1-.708-.708l6-6z" />
                </svg>

                <svg id="side-list-down-icon" width="18px" height="18px" viewBox="0 0 16 16"
                    class="bi bi-chevron-double-down" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                        d="M1.646 6.646a.5.5 0 0 1 .708 0L8 12.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z" />
                    <path fill-rule="evenodd"
                        d="M1.646 2.646a.5.5 0 0 1 .708 0L8 8.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z" />
                </svg>


                <svg id="side-list-close-icon" width="25px" height="25px" viewBox="0 0 16 16" class="bi bi-x"
                    fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                        d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
                </svg>




                <svg id="side-list-search-icon" class="side-list-search-icon" width="1em" height="1em"
                    viewBox="0 0 16 16" class="bi bi-search" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                        d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z" />
                    <path fill-rule="evenodd"
                        d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z" />
                </svg>

            </div>

            <span class="close_opt" id="close_search"> X</span>
            <div id="side-list-menu-box">

                <svg id="menu" xmlns="http://www.w3.org/2000/svg" fill="#ffffff" viewBox="0 0 30 30" width="40px"
                    height="40px">
                    <path fill="#c2e8ff" d="M1.5 13.5H28.5V16.5H1.5z" />
                    <path fill="#7496c4" d="M28,14v2H2v-2H28 M29,13H1v4h28V13L29,13z" />
                    <path fill="#c2e8ff" d="M1.5 5.5H28.5V8.5H1.5z" />
                    <path fill="#7496c4" d="M28,6v2H2V6H28 M29,5H1v4h28V5L29,5z" />
                    <g>
                        <path fill="#c2e8ff" d="M1.5 21.5H28.5V24.5H1.5z" />
                        <path fill="#7496c4" d="M28,22v2H2v-2H28 M29,21H1v4h28V21L29,21z" />
                    </g>
                </svg>

                <div id="menu-box">
                    <div id="menu_close">X </div>
                    <div class="menu-box-child" id="find_new_friend"> Find New Friends
                    </div>

                    <div class="menu-box-child" id="noti">Notifications</div>
                    <div class="menu-box-child" id="rec_req">Recieved Reqest</div>
                    <div class="menu-box-child" id="setting"> Profile Settings </div>
                    <div class="menu-box-child" id="search_keyword_alias"> Search keyword </div>
                    <div class="menu-box-child" id="log_out"> Logout </div>

                </div>

            </div>

        </header>



        <header class="head_opt" id="header_noti">
            <img class="border_radius" src="phone_img.jpg" alt="profile-image">
            <span class="profile">
                <p class="header_mess">Notifications</p>


            </span>
            <span class="close_opt" id="close_noti"> X</span>

        </header>
        <header class="head_opt" id="header_req">
            <img class="border_radius" src="phone_img.jpg" alt="profile-image">
            <span class="profile">
                <p class="header_mess">Recieved Request</p>


            </span>
            <span class="close_opt" id="close_req"> X</span>

        </header>
        <header class="head_opt" id="header_sett">
            <img class="border_radius" src="settings.png" alt="profile-image">
            <span class="profile">
                <p class="header_mess"> Settings </p>


            </span>
            <span class="close_opt" id="close_sett"> X</span>

        </header>
        <hr>
        <div class="loader" id="loader"></div>
        <div id="message-body" style="display:none"> </div>


        <div class="drop-box" id="drop_box">
            <div class="drop-area" id="drop_file">
                <div class="drag-drop-browser">
                    <button id="browse_file">Broswe Files</button> <br>

                    <hr class="hr-line"> OR
                    <hr class="hr-line"> <br>

                    Drag and Drop Files here

                </div>
                <div class="drop-img"></div>


            </div>


            <span class="close_opt" id="close_file_upload"> X</span>
            <div id="display_file">

            </div>

        </div>











        <form action="" method="POST" id="myform">
            <div id="select_file"> </div>

            <input type="text" name="message" id="message_input" autocomplete="off" placeholder="Write message here...">

            <input type="file" id="transfer_file" name="transfer_file" multiple />
            {{!-- <button type="submit" id="send_file"></button type="submit"> --}}
            <div id="send_file"></div>
        </form>



        <div id="menu_box_opt">

            <div id="noti_box" style="display:none"> </div>
            <div id="req_box" style="display:none"> </div>
            <div id="sett_box" style="">
                <div class="friend-profile">

                    <span class="profile  sett-profile">
                        <p class="sett-name">Account Type </p>
                        <hr>
                        <span>Public <input type="radio" id="account_type_pub" name="account_type"></span>





                        <div class="noti-mess">public account is visible when people search in new friend list </div>



                        <span>Private <input type="radio" name="account_type" id="account_type_pri"></span>

                        <div class="noti-mess">private account is hidden when people search in new friend list</div>

                    </span>


                </div>

                <div class="friend-profile">

                    <span class="profile  sett-profile">
                        <p class="sett-name">Message Tone </p>
                        <hr>
                        <span>on <input type="radio" name="message_tone" id="mess_tone_on"></span>
                        <span>off <input type="radio" name="message_tone" id="mess_tone_off"></span>


                    </span>


                </div>



                <div class="friend-profile">

                    <span class="profile  sett-profile">
                        <p class="sett-name">Upload Profile Image </p>
                        <hr>


                        {{#if img }}
                        <span id="prof_img" class="all_img"
                            style="position:relative; left:30px; border:1px solid rgba(43, 39, 39, 0.411);width:110px;height:110px;background-image: url('/img/profile/{{img}}');"></span>

                        {{else}}
                        <span id="prof_img" class="all_img"
                            style="position:relative; left:30px; border:1px solid rgba(43, 39, 39, 0.411);width:110px;height:110px;background-image: url('/img/profile/../default_img.png');"></span>


                        {{/if}}



                        <br>
                        <span>
                            <button id="upload_but"> Change Profile Image</button> <input type="file" name="sampleFile"
                                id="upload_file" onchange="preview_img()" hidden />



                        </span>


                </div>


                <div class="friend-profile">

                    <span class="profile  sett-profile">
                        <p class="sett-name">Profile Message </p>
                        <hr>

                        <span><input class="prof_mess" type="text" name="account_type" id="prof_mess"
                                placeholder=" Message" value="{{pro_mess}}"></span>




                </div>


                <button id="update_but">Update</button>
            </div>


        </div>









    </div>

    <script src="{{SOCKET_FILE}}"></script>
    <script>
    
        var a_t = "{{account_type}}";
        if (a_t == "private") {

            account_type_pri.checked = true;
        } else {
            account_type_pub.checked = true;
        }
        console.log(a_t);
        //const socket = io('https://socket-event-hadler.herokuapp.com/'); 
        const socket = io("{{SOCKET_URL}}");

    </script>

    <script src="js/home.js"></script>
    {{!--
    <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script> --}}


    {{!--
    <script src="first-col.js"></script> --}}

</body>

</html>