<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Find Friend</title>
  <link rel="icon" href="favicon.ico">
 
</head>
<link rel="stylesheet" href="./css/video_chat.css">

<body>

  <div class="container-bx">
    <div>
      <div class="local-vid-bx" id="local_video_par_bx">
        <video class="video-elem" muted controls autoplay id="local_video"> </video>

      </div>
 
      <div class="remote-vid-bx" id="remote_video_par_bx"   style="display:nones" >
        <video class="video-elem"   muted controls autoplay id="remote_video"  > </video>
         
      </div>


      <br />

      <div class="icon-par-bx" id="local_vid_icon_bx" >

        <span class="phone-icon" id="camera_icon"> <i class="fas fa-video"></i> </span>
        <span class="phone-icon" id="micropone_icon"> <i class="fas fa-microphone"></i> </span>
      </div>
      <br />
    </div>

  <div class="remote-vid-ic-bx" id="remote_vid_icon_bx"> 
          <span class="phone-icon"  onclick="endCall()" id="end_call_icon"> <i class="fas fa-phone-slash"></i> </span>
  </div>
    {{!-- call block --}}

 
    <div class="call-opt-bx" id="call_opt_bx">
      <p class="prof-tl"> {{name}} </p>

      <div class="prof-img-par-bx">
         {{#if profileImg }}  
                 <span class="prof-img" style="background-image: url('/upload/{{profileImg}}');"> </span>


                {{else}}
               <span class="prof-img" style="background-image: url('/img/default_img.png');"> </span>

                {{/if}}
       
      </div>

      <br />
      <button id="call_but" class="call-but" onclick="handleCall()"> <i class="fas fa-phone-alt"
          style="font-size:18px;padding-right:2px"></i> <span id="call_but_text">Call</span> </button>

           <button  id="join_but" class="call-but" onclick="joinCall()"> <i class="fas fa-phone-alt"
          style="font-size:18px;padding-right:2px"></i> <span id="join_but_text">Join</span> </button>

    </div>

      
    </div>
    {{!-- <button class="call-but close-but" onclick="getMedia()"> <i class="fas fa-times"
        style="font-size:21px;padding-right:2px"></i> Close</button>
    <div> --}}




      {{!-- <button onclick="startCall()">start</button>
      <button onclick="joinCall()">Join</button> --}}
      {{!-- <button onclick="joinCall()">Join</button> --}}

    </div>
     <div id="incoming_call_bx">  </div>


</body>
<script src="{{SOCKET_FILE}}"></script>
<script>
  const socket = io("{{SOCKET_URL}}");
  const accessToken = "{{accessToken}}"
  console.log( "accessToken= ", accessToken)

</script>
<script src="./js/utils.js"></script>
<script src="./js/video_chat.js"></script>
<script src="./js/common.js"></script>
 <script defer src="https://use.fontawesome.com/releases/v5.15.4/js/all.js"  integrity="sha384-rOA1PnstxnOBLzCLMcre8ybwbTmemjzdNlILg8O7z1lUkLXozs4DHonlDtnE7fpc"
    crossorigin="anonymous"></script>

</html>